<nav>
    <div class="site-title">
        <a href="/"><h1>Blog DCC</h1></a>
        <p>Um site para estudar sobre Node</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
